/*

 body {
  line-height: 1.5;
  background-image: linear-gradient(#0ff .1rem, transparent .1rem);
	background-size: auto 2.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  }  


always:
compress & optimize your images
change the HTML title
title the folder correctly, agallaghermicha1
verify outline, css, html

.col:nth-child()

@media only screen and (min-width: px) {
	 {

	}
}

--bckgrnd imge, x axis, y axis, background size,
 repeat. 
 cover is cover available space(entire width)










THIS ASSIGNMENT::::

/* measure 60 characters. Use whitespace. use 62.5%. heading scale. put it on web. Good title. Images. 50's vibes. Dark mansion goth vibes. Count Olaf. Fanciful header fonts. intelligent text font. house hanging off edge. validate / outline. you can add/rearrange content, not delete.

header
3 paragraphs

synopsis
--setting
--plot 

main characters
count olaf
violet 
klaus
sunny 
poe 
snicket

supporting characters
beatrice beau.
bertrand beau.

narration style
5 paragraphs

footer
sources
educational only
*/


html {
  font-size: 10%;
}

h1 {
  font-size: 8.1rem;
}

h2 {
  font-size: 5.4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}
