/*

 body {
  line-height: 1.5;
  background-image: linear-gradient(#0ff .1rem, transparent .1rem);
	background-size: auto 2.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  }  


always:
compress & optimize your images
change the HTML title
title the folder correctly, agallaghermicha1
verify outline, css, html

.col:nth-child()

@media only screen and (min-width: px) {
	 {

	}
}

--bckgrnd imge, x axis, y axis, background size,
 repeat. 
 cover is cover available space(entire width)

*/


html {
  font-size: 62.5%;
}
